form input,
form textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: #b46e3c;
  line-height: inherit;
  padding: 10px 20px;
  width: 100%;
  font-size: 14px;
  background: rgba(180, 110, 60, 0.1);
  margin-bottom: 25px;
  text-align: center;
}

form input:-internal-autofill-selected,
form input:-webkit-autofill,
form input:-webkit-autofill:focus {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-text-fill-color: #b46e3c;
  -webkit-box-shadow: 0 0 0px 1000px #191919 inset;
  transition: background-color 5000s ease-in-out 0s;
}

form input:focus,
form textarea:focus {
  outline: none;
}

#MyContactForm p span {
  letter-spacing: 2px;
  text-transform: uppercase;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
  border-color: #b46e3c;
  box-shadow: 0 2px 5px #b46e3c;
}

::-webkit-input-placeholder {
  color: #999;
  font-family: "Opensans", sans-serif;
}

#MyContactForm p label,
#MyNewsletter p label {
  cursor: text;
  display: block;
  margin: 0 0;
  position: relative;
  top: 0;
  width: 100%;
}

:-moz-placeholder {
  /* Firefox 18- */

  color: #999;
  font-family: "Opensans", sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */

  color: #999;
  font-family: "Opensans", sans-serif;
}

:-ms-input-placeholder {
  color: #999;
  font-family: "Opensans", sans-serif;
}

#form-wrapper #MyContactForm .error {
  bottom: 32px;
  color: #ff2255;
  font-family: inherit;
  font-size: 12px;
  font-weight: normal;
  left: auto;
  letter-spacing: 0;
  position: absolute;
  right: 20px;
  text-transform: capitalize;
  width: auto;
}
.text-center {
  text-align: center !important;
}
.contact-btn {
  background: none;
  color: #999;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  letter-spacing: 2px;
  padding: 10px 15px;
  margin-bottom: 50px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 17px;
  max-width: 200px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#form-wrapper p {
  margin-bottom: 0;
}
.contact-btn:hover {
  background: #b46e3c;
  color: #fff;
  text-decoration: none;
  border-color: #b46e3c;
}



.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 9999;
  inset: 0 !important;
  display: flex;
  padding: 20px;
}
.popup-send {
  background-color: rgba(0, 0, 0, 0.9) !important;
  max-width: 600px;
  box-shadow: 0 100px 60px -50px rgba(0, 0, 0, 0.5);
  height: 300px;
  border: none !important;
  margin: auto;
  position: absolute;
  inset: 40px;
  display: flex;
  border: none;
  overflow: auto;
  outline: none;
  padding: 20px;
}
.block-popup {
  margin: auto;
  text-align: center;
}
.block-popup p:last-child {
  margin-bottom: 20px;
}
.block-popup h4 {
  color: #ffffff;
  font-family: "JosefinSans", sans-serif;
  margin: 20px 0;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
.block-popup span {
  color: #b46e3c;
  font-style: italic;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all 0.3s ease;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  content: "X";
  /* background-image: url(../img/close.png); */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.close-btn:hover {
  opacity: 1;
}
.popup-content {
  background-color: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 100px 60px -50px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  border: none !important;
  margin: auto;
  position: relative;
  display: flex;
  border: none;
  overflow: auto;
  outline: none;
  padding: 50px;
}
.popup-content.light {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 100px 60px -50px rgba(255, 255, 255, 0.5);
}
.popup-content.light .block-popup h4 {
  color: #121212;
}
.popup-content.light .block-popup p {
  color: #222222;
}
.popup-content.light .close-btn {
  filter: drop-shadow(0 1px 3px #ccc);
}
.popup-content .block-popup {
  margin: 0;
  text-align: left;
}



