.wellcome {
  overflow: hidden;
  position: relative !important;
  border-top: 100px solid transparent;
  margin-top: -100px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background-color: #272727;
  background-image: url("../assets/images/home.jpg");
  background-size: cover;
  background-position: center center;
}
.wellcome .section-block-title {
  padding: 45px 45px 0 45px;
  max-width: 68%;
}
@media (max-width: 767px) {
  .wellcome .section-block-title {
    max-width: 100%;
  }
}
.wellcome .section-title-body {
  padding-bottom: 0;
}
.wellcome .bg-50-l {
  background-color: rgba(39, 39, 39, 1);
}
.wellcome .bg-50-l::before {
  content: none;
}

@keyframes bg_show {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.wellcome_bg_filter {
  -webkit-animation: linear forwards;
  -webkit-animation-name: bg_show;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-duration: 10s;
}
.wellcome .bg-inner-dark2 {
  background-color: rgba(0, 0, 0, 0.5);
}

.imagemagnify-container {
  position: absolute;
  z-index: 99;
}
.imagemagnify-container img {
  opacity: 0.2;
  position: relative;
}
