.container {
  /* position: relative;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background: transparent; */
}

/* .slick-list,
.slick-slider,
.slick-track {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
} */
